# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
*.pdf
*.pptx

# Virtual environments
venv/
env/
.env/
.venv/

# IDE settings
.idea/
.vscode/
*.swp
*.swo

# Local development settings
.env
.env.local

# Jupyter Notebook
.ipynb_checkpoints

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
coverage.xml
*.cover

# Logs
*.log